<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продати {{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sell_product.css') }}">
</head>
<body>
<header>
    <div class="header-content">
        <h1>Продати {{ product.name }}</h1>
    </div>
</header>
<main>
    <form method="POST" class="sell-form">
        <label for="quantity">Кількість:</label>
        <input type="number" id="quantity" name="quantity" required>
        <br>

        <label for="sale_price">Ціна продажу:</label>
        <input type="number" id="sale_price" name="sale_price" step="0.01" required>
        <br>

        <label for="platform">Платформа:</label>
        <input type="text" id="platform" name="platform" class="platform-input">
        <br>

        <button type="submit" class="submit-button">Продати</button>
    </form>
    <a href="{{ url_for('routes.index_' + store_prefix) }}" class="back-link">Назад</a>
</main>
</body>
</html>
